.mat-card-actions-answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-stroked-button {
    min-width: 120px;
    margin: 5px 8px;
}

.action-loading {
    min-height: 160px;
    display: flex;
    align-items: center;
    width: 100%;
}

.action-play {
    min-height: 160px;
}
