<div class="center">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>    
    <mat-card *ngIf="error">
        <mat-card-title>
            <strong>An error occurred:</strong> {{ error }}
        </mat-card-title>
    </mat-card>
</div>

<ng-container *ngIf="!isLoading && !error">
    <mat-card-subtitle>
        Question #{{answeredQuestions.length + 1}}
    </mat-card-subtitle>
    <mat-card-title>    
        {{unAnsweredQuestion?.question?.text}}
    </mat-card-title>

    <mat-card-actions class="mat-card-actions-answers">
        <div></div>
        <button mat-stroked-button color="primary" (click)="submitAnswer('yes')">
            Yes
        </button>
        <button mat-stroked-button color="primary"(click)="submitAnswer('no')">
            No
        </button>
        <button mat-stroked-button color="primary" (click)="submitAnswer('unknown')">
            I don't know
        </button>
        <button mat-stroked-button color="primary" (click)="submitAnswer('prob_yes')">
            Probably yes
        </button>
        <button mat-stroked-button color="primary" (click)="submitAnswer('prob_no')">
            Probably no
        </button>
    </mat-card-actions>
</ng-container>