<div class="feedback-area">
    <ng-container *ngIf="gameEndState=='awaitingGuessAnswer'">
        <mat-card-subtitle>
            I'm guessing it's...
        </mat-card-subtitle>
        <mat-card-title>    
            {{game?.guessed?.name}}
        </mat-card-title>

        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="provideGuessFeedback(true)">
                Yes!
            </button>
            <button mat-stroked-button color="accent"(click)="provideGuessFeedback(false)">
                No!
            </button>
        </mat-card-actions>
    </ng-container>

    <ng-container *ngIf="gameEndState=='guessAnsweredAffirmative'">
        <div class="center" *ngIf="isLoadingGuessFeedback || errorGuessFeedback">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingGuessFeedback"></mat-progress-bar>    
            <mat-card *ngIf="errorGuessFeedback">
                <mat-card-title>
                    {{ errorGuessFeedback }}
                </mat-card-title>
            </mat-card>
        </div>

        <ng-container *ngIf="!isLoadingGuessFeedback && !errorGuessFeedback">
            <mat-card-subtitle>
                Yaay, I got it right, it was indeed <strong>{{game?.guessed?.name}}</strong>!
            </mat-card-subtitle>
            <mat-card-title>    
                Another game?
            </mat-card-title>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="gameEndState=='awaitingFeedbackEntity'">
        <mat-card-subtitle>
            Well you can't win them all...
        </mat-card-subtitle>
        <mat-card-title>    
            So tell me the answer!
        </mat-card-title>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Your entity: </mat-label>
                <input 
                    type="text"
                    placeholder="Type 3 characters for autocomplete" 
                    matInput 
                    [formControl]="autocompleteControl" 
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngIf="isLoadingAutocomplete">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>    
                    </mat-option>
                    <mat-option *ngIf="errorAutocomplete" aria-disabled="true">
                        <strong>Error, cannot autocomplete:</strong> {{ errorAutocomplete }}
                    </mat-option>

                    <ng-container *ngIf="!isLoadingAutocomplete && !errorAutocomplete">
                        <mat-option *ngFor="let entity of filteredEntities" [value]="entity">
                            {{entity.name}}
                        </mat-option>
                    </ng-container> 
                  </mat-autocomplete>        
            </mat-form-field>
            <button mat-stroked-button color="accent" (click)="submitReveal()">
                Submit
            </button>
        </mat-card-content>
    </ng-container>

    <ng-container *ngIf="gameEndState==='feedbackEntitySubmitted'">

        <div class="center" *ngIf="isLoadingReveal || errorReveal">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingReveal"></mat-progress-bar>    
            <mat-card *ngIf="errorReveal">
                <mat-card-title>
                    <strong>An error occurred:</strong> {{ errorReveal }}
                </mat-card-title>
            </mat-card>
        </div>

        <ng-container *ngIf="!isLoadingReveal && !errorReveal">
            <mat-card-subtitle *ngIf="game?.guessed?.name === game?.feedback_entity?.name">
                Yaay, I got it right, it was indeed <strong>{{game?.guessed?.name}}</strong>!
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="game?.guessed?.name !== game?.feedback_entity?.name">
                Darn, I had this as <strong>{{game?.guessed?.name}}</strong>, but it was actually <strong>{{game?.feedback_entity?.name}}</strong>!
            </mat-card-subtitle>
            <mat-card-title>    
                Another game?
            </mat-card-title>
        </ng-container>
    </ng-container>
</div>