<footer>
    <mat-toolbar color="primary" class="footer">
      <mat-toolbar-row>
        <span>
          Made with <mat-icon color="accent">favorite</mat-icon> by 
          <a href="https://www.evobyte.org/" target="_blank">Evobyte - Digital Interactive Learning (coming soon!)</a>
          and 
          <a href="https://www.youtube.com/channel/UC_9IIurm8tjuVPK6-DL2DFQ" target="_blank">Old School Coding Youtube</a>.
        </span>
        
        <span class="spacer"></span>

        <span>
          This web app is <a href="https://github.com/evobyte-apps/open-20-questions" target="_blank">open sourced on github</a>.
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>
          Support us by signing up for an interactive course on Evobyte, subscribing to the youtube channel and / or <a href="https://www.patreon.com/oldschoolcoding" target="_blank">on Patreon</a>.
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
</footer>