<footer>
    <mat-toolbar color="primary" class="footer">
      <div>
        Made with <mat-icon color="accent">favorite</mat-icon> by 
        <a href="https://www.evobyte.org/" target="_blank">Evobyte - Digital Interactive Learning</a>
        and 
        <a href="osc" target="_blank">Old School Coding Youtube</a>.
      </div>
      
      <span class="spacer"></span>

      <div>
        This web app is <a href="github" target="_blank">open sourced on github</a>.
      </div>
    </mat-toolbar>
  </footer>