.question-area {
    max-width: 1000px;
    margin: 0 auto;
}

.mat-form-field {
    width: 100%;
}

.mat-table {
    width: 95%;
    margin: 0 auto;
}

.answer-btns {
    margin: 0 auto;
    justify-content: center;
}

.mat-stroked-button, .mat-raised-button {
    min-width: 100px;
    margin: 5px;
}

.submit {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

::ng-deep .question-area .mat-grid-tile .mat-figure {
    justify-content: left;
}