.button-row {
    display: table-cell;
    width: 490px;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.header {
    margin-bottom: 15px;
}

.mat-tab-nav-bar {
    margin-bottom: 15px;
}