<mat-toolbar color="primary" class="header">
    <button mat-icon-button aria-label="Home" routerLink='/' color="{{this.getHomeColor()}}">
        <mat-icon>home</mat-icon>
    </button>
    <span>Open source Twenty Questions app</span>

</mat-toolbar>

<nav mat-tab-nav-bar color="accent" mat-align-tabs="center">
    <a mat-tab-link routerLink='/' [active]="isActive('/')"><mat-icon>home</mat-icon></a>
    <a mat-tab-link routerLink='/game' [active]="isActive('/game')">Play a game</a>
    <a mat-tab-link routerLink='/entity' [active]="isActive('/entity')">Browse entities</a>
    <a mat-tab-link routerLink='/question' [active]="isActive('/question')">Submit questions</a>
</nav>