<div class="stats-area">
    <div class="center" *ngIf="isLoading || error">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>    
        <mat-card *ngIf="error">
            <mat-card-title>
                An error occurred: {{ error }}
            </mat-card-title>
        </mat-card>
    </div>
    
    <mat-card *ngIf="!isLoading && !error">
        <mat-card-title>Here are some statistics</mat-card-title>

        <mat-card-content>
            <p>Latest games:</p>
        
            <table mat-table [dataSource]="ds" class="mat-elevation-z8"> 
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <a mat-button href="/game/{{element.id}}" color="primary">
                            {{ i + 1 }}
                        </a>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="guessed">
                    <th mat-header-cell *matHeaderCellDef> I guessed </th>
                    <td mat-cell *matCellDef="let element"> {{ element.guessed.name }} </td>
                </ng-container>
        
                <ng-container matColumnDef="feedback">
                    <th mat-header-cell *matHeaderCellDef> It was </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div                         
                            *ngIf="element.guessed.name === element.feedback_entity.name" 
                            class="border-green">
                            {{ element.feedback_entity.name }}
                        </div>
                        <div                         
                            *ngIf="element.guessed.name !== element.feedback_entity.name" 
                            class="border-red">
                            {{ element.feedback_entity.name }}
                        </div>
                    </td>

                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr 
                    mat-row 
                    *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <p>General stats:</p>
            <!-- <mat-grid-list cols="4" rowHeight="50px"> -->
            <div class="container">    
                <div class="item"> 
                    Games started last 24 hours:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_24h }}</strong>
                </div>
                <div class="item"> 
                    Games started in total:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_games }}</strong>
                </div>

                <div class="item"> 
                    Games finished last 24 hours:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_finished_24h }}</strong>&nbsp;&nbsp;({{getPercentage(data?.total_finished_24h, data?.total_24h)}}%)
                </div>
                <div class="item"> 
                    Games finished in total:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_finished }}</strong> &nbsp;&nbsp;({{getPercentage(data?.total_finished, data?.total_games)}}%)
                </div>

                <div class="item"> 
                    Correct guesses last 24 hours:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_correct_24h }}</strong>&nbsp;&nbsp;({{getPercentage(data?.total_correct_24h, data?.total_finished_24h)}}%) 
                </div>
                <div class="item"> 
                    Correct guesses in total:
                </div>
                <div class="item"> 
                    <strong>{{ data?.total_correct }}</strong>&nbsp;&nbsp;({{getPercentage(data?.total_correct, data?.total_finished)}}%) 
                </div>
            </div>
            <!-- </mat-grid-list> -->
        </mat-card-content>

    </mat-card>
</div>
