.play-container {
    margin: 0 auto;
    max-width: 1000px;
}

.play-area {
    max-width: 1000px;
    margin: 0 5px 0 5px;
    min-height: 1300px;
}

.mat-card {
    height: -webkit-fill-available;
}

.mat-card-actions-guessed {
    max-width: 700px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
