<div class="play-area" *ngIf="gameWithGameQuestions">
    <mat-card>
        <answer-questions 
            [questionHistoryDs]="ds" 
            [(unAnsweredQuestion)]="unAnsweredQuestion"
            [answeredQuestions]="answeredQuestions"
            *ngIf="unAnsweredQuestion.question">
        </answer-questions>

        <guess-feedback 
            [unAnsweredQuestion]="unAnsweredQuestion"
            [gameEndState]="gameEndState"
            *ngIf="unAnsweredQuestion.game?.guessed">
        </guess-feedback>
        
        <questions-history
            [ds]="ds">
        </questions-history>
    </mat-card>

</div>