/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center {
    margin: 40px auto;
    width: fit-content;
}

.mat-progress-bar {
    width: 200px !important;
}


.border-green {
    border-right: 3px solid green;
}

.border-red {
    border-right: 3px solid red;
}

.mat-chip-list-wrapper {
    justify-content: space-around;
}