<div class="entity-area">


    <mat-card>
        <mat-card-subtitle>
            These are the entities we know so far, in alphabetical order.
        </mat-card-subtitle>

        <div class="center" *ngIf="isLoading || error">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>    
            <mat-card *ngIf="error">
                <mat-card-title>
                    An error occurred: {{ error }}
                </mat-card-title>
            </mat-card>
        </div>

        <mat-card-content>
            <table mat-table [dataSource]="ds" *ngIf="!isLoading && !error">            
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Entity name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> Added date and time </th>
                    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator 
                #paginator [length]="totalRows" 
                [pageIndex]="currentPage" 
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" 
                (page)="pageChanged($event)" 
                aria-label="Select page">
            </mat-paginator>
        </mat-card-content>
    </mat-card> 
</div>